#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  padding-inline-start: unset;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.mx-auto {
  margin-inline: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


label {
  margin-right: .5rem;
}

.select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  color: #fff;
  background-color: var(--darkgray);
  cursor: pointer;

  position: relative;
  display: flex;
  width: 20rem;
  height: 1.5rem;
  border-radius: 0.25em;
  overflow: hidden;
}

/* Remove IE arrow */
.select::-ms-expand {
  display: none;
}

/* Arrow */
select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: crimson;
  transition: 0.25s all ease;
  pointer-events: none;
}

/* Transition */
.select:hover::after {
  color: crismon;
}